<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SurveySystem.mapper.CategoryMapper">

    <resultMap id="categoryResultMap" type="Category">
        <id property="categoryId" column="category_id"/>
        <result property="categoryName" column="category_name"/>
        <result property="parentCategoryId" column="parent_category_id"/>
        <result property="parentCategoryName" column="parent_category_name"/>
        <result property="description" column="description"/>
        <result property="sortKey" column="sort_key"/>
        <result property="categoryLevel" column="category_level"/>
        <result property="createdBy" column="created_by"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <!-- 获取所有分类 -->
    <select id="getAllCategories" resultMap="categoryResultMap">
        SELECT c.*, p.category_name AS parent_category_name
        FROM Category c LEFT JOIN Category p ON c.parent_category_id = p.category_id
        WHERE c.created_by = #{userId}
    </select>

    <!-- 根据名称获取8条最近更新的分类 -->
    <select id="getAllCategoriesById" resultMap="categoryResultMap" parameterType="int">
        SELECT c.*, p.category_name AS parent_category_name
        FROM Category c LEFT JOIN Category p ON c.parent_category_id = p.category_id
        WHERE c.created_by = #{userId}
        ORDER BY c.updated_at DESC
            LIMIT 8
    </select>

    <!-- 获取子分类 -->
    <select id="getSubCategories" resultMap="categoryResultMap" parameterType="int">
        SELECT * FROM Category WHERE parent_category_id = #{parentId} AND created_by = #{userId}
    </select>

    <!-- 获取父分类 -->
    <select id="getParentCategories" resultMap="categoryResultMap">
        SELECT * FROM Category WHERE category_level = 1 AND created_by = #{userId}
    </select>

    <!-- 添加分类 -->
    <insert id="addCategory" parameterType="Category">
        INSERT INTO Category (category_name, parent_category_id, description, category_level, created_at, updated_at,sort_key,created_by)
        VALUES (#{categoryName}, #{parentCategoryId}, #{description}, #{categoryLevel}, NOW(),NOW(),#{sortKey},#{createdBy})
    </insert>

    <!-- 删除分类 -->
    <delete id="deleteCategory" parameterType="int">
        DELETE FROM Category WHERE category_id = #{categoryId}
    </delete>

    <!-- 更新分类 -->
    <update id="updateCategory" parameterType="Category">
        UPDATE Category
        SET category_name = #{categoryName},
            parent_category_id = #{parentCategoryId},
            description = #{description},
            category_level = #{categoryLevel},
            updated_at = NOW(),
            created_at =NOW(),
            created_by =#{createdBy}
        WHERE category_id = #{categoryId}
    </update>

    <!-- 更新分类 -->
    <update id="updateCategorySortKey" parameterType="Category">
        UPDATE Category
        SET sort_key=#{sortKey},
            updated_at = NOW()
        WHERE category_id = #{categoryId}
    </update>

    <!-- 根据ID获取分类 -->
    <select id="getCategoryByCategoryId" resultMap="categoryResultMap" parameterType="int">
        SELECT * FROM Category WHERE category_id = #{categoryId}
    </select>


    <!-- 分页获取分类 -->
    <select id="getCategoriesByPage" resultMap="categoryResultMap">
        SELECT c.*, p.category_name AS parent_category_name
        FROM category c LEFT JOIN category p ON c.parent_category_id = p.category_id
        <if test="keyword != null and keyword != ''">
            WHERE c.category_name LIKE CONCAT('%', #{keyword}, '%') OR c.description LIKE CONCAT('%', #{keyword}, '%')
        </if>
        WHERE c.created_by = #{userId} LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <!-- 获取分类数量 -->
    <select id="getCategoryCount" resultType="int">
        SELECT COUNT(*) FROM category
        <if test="keyword != null and keyword != ''">
            WHERE category_name LIKE CONCAT('%', #{keyword}, '%') OR description LIKE CONCAT('%', #{keyword}, '%')
        </if>
        WHERE created_by = #{userId}
    </select>

</mapper>