<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TaiExam.mapper.UserRoleMapper">

    <!--  新增用户-角色关系  -->
    <insert id="insertUserRole" parameterType="userRole" useGeneratedKeys="true" keyProperty="id">
        insert into user_role (user_id,role_id) values (#{userId},#{roleId})
    </insert>

    <!-- 为用户批量分配角色 -->
    <insert id="assignRolesToUsers">
        INSERT IGNORE INTO user_role (user_id, role_id)
        VALUES
        <foreach collection="users" item="user" separator=",">
                (#{user.id}, #{roleId})
        </foreach>
    </insert>

    <!-- 删除用户-角色关系 -->
    <delete id="deleteUserRole" parameterType="int">
        DELETE FROM user_role WHERE user_id = #{id} and role_id = #{roleId}
    </delete>

    <!-- 删除用户-角色关系 -->
    <delete id="deleteUserRoleById" parameterType="int">
        DELETE FROM user_role WHERE id = #{id}
    </delete>

    <!-- 清空某个用户的角色 -->
    <delete id="deleteUserRoleByUserId" parameterType="int">
        DELETE FROM user_role WHERE user_id = #{userId}
    </delete>

    <!-- 通过用户查找角色列表 -->
    <select id="getRoleIdsByUserId" parameterType="int" resultType="int">
        select role_id from user_role where user_id = #{userId}
    </select>

    <!-- 通过角色id查找用户列表   -->
    <select id="getUsersByRoleId" parameterType="int" resultType="User">
        select * from user_role where role_id = #{roleId}
    </select>

    <!-- 为用户分配角色 -->
    <insert id="addRolesToDepartment">
        INSERT IGNORE INTO user_role (user_id, role_id)
        VALUES
        <foreach collection="users" item="user" separator=",">
            (#{user.id}, #{roleId})
        </foreach>
    </insert>

    <!-- 通过角色id查找用户数   -->
    <select id="getUsersCountByRoleId" parameterType="int" resultType="int">
        select count(*) from user_role where role_id = #{roleId}
    </select>


</mapper>